<h1>Schedule information for {{ schedule }}</h1>
<a href="/">Go back to Routes</a>
{% if stops|length > 0 %}
    {% for direction in stops %}
    <h2>Next scheduled stops headed {{loop.index0 == 0 ? 'Northbound' : 'Southbound' }} </h2>
    <table>
        <tr>
            <th>Departing From</th>
            <th>Vehicle Arrival</th>
            <th>Departure Time</th>
        </tr>
        {% for stop in direction %}
            <tr>
                <td>{{ stop['location']['attributes']['name'] }}</td>
                <td>{{ stop['attributes']['arrival_time']|date("m/d/Y \\a\\t g:ia") }}</td>
                <td>{{ stop['attributes']['departure_time']|date("m/d/Y \\a\\t g:ia") }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% else %}
    <h2>We're sorry, there are no more scheduled stops on this route for today.</h2>
{% endif %}
